[submodule "framework/webmagic/webmagic-parent"]
	path = framework/webmagic/webmagic-parent
	url = git@github.com:laidu823/webmagic.git
[submodule "design-pattern/java-design-patterns"]
	path = design-pattern/java-design-patterns
	url = https://github.com/laidu823/java-design-patterns.git
[submodule "convenient-tool/javapoet"]
	path = convenient-tool/javapoet
	url = git@github.com:laidu823/javapoet.git
[submodule "blog"]
	path = blog
	url = git@github.com:laidu/myBlogSource.git
[submodule "production-component/crawler-helper"]
	path = production-component/crawler-helper
	url = git@github.com:laidu/crawler-helper.git
[submodule "production-component/crawler"]
	path = production-component/crawler
	url = git@github.com:laidu/crawler.git
[submodule "production-component/common-util"]
	path = production-component/common-util
	url = git@github.com:laidu/common-util.git
[submodule "production-component/common-basic"]
	path = production-component/common-basic
	url = git@github.com:laidu/common-basic.git
[submodule "convenient-tool/fastjson/fastjson-source"]
	path = convenient-tool/fastjson/fastjson-source
	url = git@github.com:laidu823/fastjson.git
[submodule "production-component/alpha"]
	path = production-component/alpha
	url = git@github.com:laidu823/alpha.git
